.nav {
  position: relative;
  bottom: -13px;
}
.nav .link {
  display: inline-block;
  border-bottom: 5px solid #701dbb;
  margin: 0 auto;
  margin-left: -4px;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  height: 90px;
  width: 150px;
  transition: .2s linear;
}
.nav .link:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
      transform: scale(1.3);
  z-index: 1;
  border-bottom: 14px solid #701dbb;
}
.nav .link:nth-child(1) {
  border-bottom: 5px solid #6017a3;
}
.nav .link:nth-child(2) {
  border-bottom: 5px solid #701dbb;
}
.nav .link:nth-child(3) {
  border-bottom: 5px solid #8038c2;
}
.nav .link:nth-child(4) {
  border-bottom: 5px solid #a34ff0;
}
.nav .link:nth-child(5) {
  border-bottom: 5px solid #8038c2;
}
.nav .link:nth-child(6) {
  border-bottom: 5px solid #701dbb;
}
