.team .row {
  margin: 0 auto;
}
.team h2 {
  font-family: "nexa-bold";
  font-size: 30px;
  line-height: 30px;
  color: #252525;
}
.team h4 {
  font-family: "nexa-bold";
  font-size: 14px;
  line-height: 25px;
}
.team span {
  font-family: "Arial";
  font-size: 12px;
  line-height: 22px;
  color: #949494;
}
.team .item a {
  position: relative;
  float: right;
  left: -11px;
}
