.team .row {
  //width: 935px;
  margin: 0 auto;
}
.team {
  
    h2 {
      font-family: "nexa-bold";
      font-size: 30px;line-height: 30px;
      color: #252525;
    }
    h4 {
      font-family: "nexa-bold";
      font-size: 14px;line-height: 25px;
    }
    span {
      font-family: "Arial";
      font-size: 12px;line-height: 22px;
      color: #949494;
    }
   /* .col-xs-6{
      overflow: hidden;
      width: 460px;
      height: 480px;
      background-color: #fff;
      text-align: left;
      &:first-child{
        margin-right: 15px;
      }
    }
    .col-xs-12 {
      height: 355px;
      background-color: #fff;
      text-align: left;
      margin-top: 20px;
      overflow: hidden;
    }
    .block {
      padding: 15px; 
    }*/
 
  .item a{
   position:relative;
   float: right;
   left:-11px;
  }

}
